extends layout

block content
    .container-fluid
          .page-header
            h2 Hi #{data.name}
        form(role='form', method='POST', action='/edit')
            legend Enter New Details
            .form-group.label-floating
                label.control-label(for='name') Name:
                input#name.form-control(type='text', name='name')
            .form-group.label-floating
                label.control-label(for='email') Email:
                input#email.form-control(type='email', name='email')
            .form-group.label-floating
                label.control-label(for='mobile') Phone No.:
                input#mobile.form-control(type='number', name='mobile')
            center    
                button.btn.btn-primary(type='submit') Submit