extends layout

block content
    .col-md-12.errordisplay
          h4.text-info.text-center.hidden
    p Create an admin profile:
    form(role='form', method='POST', action='/admin')
        .form-group.label-floating
            label Name of Admin:
            input#adminname.form-control(type='text', name='admin')
        .form-group.label-floating
            label Registration number:
            input#reg.form-control(type='text', name='regno')
        .form-group.label-floating
            label Username:
            input#aduser.form-control(type='text', name='username_admin')
        .form-group.label-floating
            label Password:
            input#adpass.form-control(type='password', name='username_pass')
        button.btn.btn-default(type='submit') Submit
    
        
    