extends layout

block content
    form(role='form', method='POST', action='/register-vit')
        legend Enter Your Vit Details
        .form-group
            label(for='regno') Registration No:
            input#regno.form-control(type='text', name='regno')
        .form-group
            label(for='pwd') Date of Birth:
            input#pwd.form-control(type='password', name='dob')
            p.help-block The Correct format is ddmmyyyy
        .form-group
            label(for='pwd2') Parent's Phone No.:
            input#pwd2.form-control(type='password', name='mobile')
            p.help-block Check Your Academic Portal For Your Parent's Number
        center
            button.btn.btn-primary(type='submit') Submit